
/**{
    background: #222;  //when this is set navbar turns to black
}*/
body {
    margin: 0; 
    background: #222;
    font-weight: 200; 
}

.container {
    width: 80%; 
    margin : 0 auto; 
}

.navbar-brand {
    
    content: '';
    clear: both; 
    font-size: 1.5em;
    padding: 10px 0; 
    color: white; 
    list-style: none; 
    display: inline-block; 
    text-decoration: none; 

}

header { /*I don't think this is needed*/
    background: #b82858 !important; 
}

header::after {
    content: ''; 
    display: table; 
    clear: both; 
}

nav {
    float: right;
}

nav ul {
    margin: 0; 
    padding: 0;  
    list-style: none; 
}

nav li {
    display: inline-block;
    margin-left: 70px; 
    padding-top: 25px; 
    
    position: relative; 
    padding: 10px 0; 
}

nav a { /*Navbar text on the right*/
    color: white; 
    text-decoration: none; 
    text-transform: uppercase; 
    font-size: 14px;
}

nav a:hover {
    color: #000; 
}

nav a::before {
    content: ''; 
    display: block; 
    height: 5px; 
    width: 100%; 
    background-color: #b82858; 
    
    position: absolute; 
    top: 0; 
    width: 0%; 
    
    transition: all ease-in-out 250ms; 
}

nav a:hover::before {
    width: 100%; 
}

/*Cover Page*/
.parallax-window {
    min-height: 900px;
    max-width: auto;
    background: cover transparent;
}

.container-parallax{
  /*position: top center;
  background-size: cover;*/
  /*width: 100%;*/

  position: top center;
  margin: 50;
  background-size: cover;
  width: 100%;
}

/*About Me*/
.about {
    min-height: 700px; 
    background: #222;
    color: white; 
}

.about-title {
    margin-left: 700px;  
    margin-top: 100px; 
}
.about-text{ 
    background-color: #b82858;
    font-size: 1.3em; 
    text-align: center; 
    width: 800px;
    padding: 30px;
 
    margin-left: 415px; /* Moving textbox */
    margin-top: -350px; 
}

.rounded-corners{
    vertical-align: middle; 
   
}
img.rounded-corners{ /*profile picture*/
  width: 275px;
  height: 400px;
  border-radius: 300%; 
}

.rounded-corners {
    margin-top: 0px; 
}

/*Education*/
.parallax { 
    min-height: 300px;
    padding-bottom: 35rem; 
    padding-top: 5rem;
    background: transparent;
}

.edu-title {
    text-align: center; 
}

.unv_1 {
    z-index: 2;
    position: relative;
    text-align: center; 
    z-index: 100;
    background-color:#222; 
    color: white;
    top: 100px;
    width: 100%;
    height: 500px;  
}

.unv_1:hover {
    font-size: 0; 
}

.unv_1:hover:after {
    content: attr(data-hover); 
    font-size: 24px; 
    line-height: 28px; 
}

/*Experience*/
.experience {
    height: 700px; 
   
}

/*Footer*/
footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5em;
    background-color: rgb(37, 36, 36);
    color: white;
    text-align: center;
 }